:root {
    -initial: #fff
}

.btn {
    padding: 6px 15px;
    border: none;
    cursor: pointer;
    border-radius: 1.5px;
    outline: none;
}

.btn-initial {
    border: 1px solid var(-initial);
    background-color: var(-initial);
    color: darkblue;
}

.btn-contour {
    background-color: transparent;
    
    color: #fff;
    border: 1px solid var(-initial);
    transition: all 0.3s ease-out;
}

.btn-small {
    font-size: 18px;
    padding: 6px 15px;
}

.btn-big {
    font-size: 18px;
    padding: 10px 20px;
}

.btn-small:hover, .btn-big:hover {
    background: #fff;
    color: darkblue;
    transition: all 0.3s ease-out;
}